*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.plantdatabase{
position:absolute;
background-color:#feffe5;
height:1024px;
width:1440px;
padding:0px;
}

.rectangle46
{
background-color:#feffe5;
height:1024px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}

.chooseaplanttogrow
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:50px;
font-family:Coiny;
line-height:auto;
border-style:hidden;
outline:none;
left:413px;
top:80px;
position:absolute;
width:613px;
}

.image22
{
height:160px;
width:230px;
left:329px;
top:208px;
position:absolute;
}

.image42
{
height:160px;
width:230px;
left:72px;
top:208px;
position:absolute;
}
.image23
{
height:160px;
width:230px;
left:579px;
top:208px;
position:absolute;
}
.image24
{
height:160px;
width:230px;
left:829px;
top:208px;
position:absolute;
}
.image25
{
height:160px;
width:230px;
left:1079px;
top:208px;
position:absolute;
}
.image26
{
height:160px;
width:230px;
left:72px;
top:523px;
position:absolute;
}
.image27
{
height:160px;
width:230px;
left:329px;
top:523px;
position:absolute;
}
.image28
{
height:160px;
width:230px;
left:579px;
top:523px;
position:absolute;
}
.image29
{
height:160px;
width:230px;
left:829px;
top:523px;
position:absolute;
}
.image30
{
height:160px;
width:230px;
left:1079px;
top:523px;
position:absolute;
}

.contentContainer {
    background-color: blue;
    width: 100%;
    height: 300px;
}
.rectangle44
{
background-color:#bfe7ab;
height:747px;
width:31px;
transform:rotate(-180deg);
border-radius:20px;
border:1px solid #000000;
top:126px;
left:1382px;
position:absolute;
}
.group2
{
width:230px;
height:84px;
top:391px;
left:72px;
position:absolute;
}
.rectangle45
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:391px;
left:72px;
position:absolute;
}
.cutleafdaisy-brachyscomemultifida
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:72px;
top:395px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group3
{
width:230px;
height:89px;
top:391px;
left:326px;
position:absolute;
}
.rectangle452
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:391px;
left:326px;
position:absolute;
}
.creepingboobialla-myoporumspid
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:326px;
top:400px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.group6
{
width:230px;
height:99px;
top:388px;
left:1082px;
position:absolute;
}
.rectangle453
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:388px;
left:1082px;
position:absolute;
}
.blueflax-dianellacaerulea
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:1097px;
top:407px;
width:199px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group5
{
width:230px;
height:84px;
top:388px;
left:829px;
position:absolute;
}
.rectangle454
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:388px;
left:829px;
position:absolute;
}
.nativeviolet-violabanksii
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:837px;
top:407px;
width:208px;
height:46px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group4
{
width:230px;
height:99px;
top:388px;
left:579px;
position:absolute;
}
.rectangle455
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:388px;
left:579px;
position:absolute;
}
.fanflower-scaevolaaemula
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:579px;
top:407px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group7
{
width:230px;
height:104px;
top:732px;
left:69px;
position:absolute;
}
.rectangle456
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:732px;
left:69px;
position:absolute;
}
.knobbyclubrush-ficinianodosa
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:69px;
top:756px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group8
{
width:242px;
height:107px;
top:729px;
left:311px;
position:absolute;
}
.rectangle457
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:729px;
left:323px;
position:absolute;
}
.matrush-lomandrasp{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:311px;
top:756px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group9
{
width:230px;
height:99px;
top:729px;
left:1079px;
position:absolute;
}
.rectangle458
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:729px;
left:1079px;
position:absolute;
}
.sarsaparillavine-hardenbergiasp{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:1079px;
top:748px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group10
{
width:230px;
height:114px;
top:729px;
left:826px;
position:absolute;
}
.rectangle459
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:729px;
left:826px;
position:absolute;
}
.pandorea-pandoreasp{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:826px;
top:763px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group11
{
width:236px;
height:102px;
top:729px;
left:570px;
position:absolute;
}
.rectangle4510
{
background-color:#bfe7ab;
height:84px;
width:230px;
border-radius:20px;
border:1px solid #000000;
top:729px;
left:576px;
position:absolute;
}
.guineavine-hibbertiascandens
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:25px;
font-family:Katibeh;
left:570px;
top:751px;
width:230px;
height:80px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}