*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.fullseedpage {
    background-color: #F4F6C2;
}

.flex-container1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height:20vh;
    }

.flex-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height: 70vh;
    }

.flex-container3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height: 10vh;
    }
    
#seed-title{
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 5% 0;
    font-family: "Katibeh", serif;
    font-size: 30%;
    }
