*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.fullseedpage {
    background-color: #F4F6C2;
}

.flex-container1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height:20vh;
    }

.flex-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height: 70vh;
    }

.flex-container3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    height: 10vh;
    }
    
#seed-title{
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 5% 0;
    font-family: "Katibeh", serif;
    font-size: 5vh;
    }

.parentbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    width: 100%;
    height: 100%;
    padding: 2% 2%
    }

#plant1, #plant2, #plant3, #plant4, #plant5, #plant6, #plant7, #plant8, 
#plant9, #plant10, #plant11, #plant12, #plant13, #plant14, #plant15{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.namestyle{
    font-family: "Katibeh", serif;
    font-size: 2.5vh;
    padding: 0 0 2% 0;
    background-color: #A8D5A1; /* Light green background */
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    border: 1px solid black; /* Thin black border */
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}