* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light_yellow: #F4F6C2;
    --light_green: #C0E8AC;
}

body.main{
    background-color: var(--light_green);
}

/*#landing_page {
    background-image: url(img/default_bush.svg);
    background-repeat: no-repeat;
}*/

.katibeh-regular {
    font-family: "Katibeh", serif;
    font-weight: 400;
    font-style: normal;
  }  

.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
    font-family: "Coiny", system-ui;
    font-size: 80px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 0 0;
}

.img_mascot {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin: 0 10% 10% 10%;
    background-image: url(default_bush.img);
}

.welcome_message {
    background-color: var(--light_yellow);
    margin: 5%;
    padding: 8%;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 1.8em;
}

.welcome_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    gap: 1%
}

.start {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start_button, .tutorial_button {
    font-family: "Katibeh", serif;
    font-size: 6vh;
    padding: 3% 3% 1% 3%;
    width: 100%;
    border-radius: 30px;
    background-color: var(--light_yellow);
    border: 1px solid black;
}

.start_button:hover,
.tutorial_button:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #C4F5A0;
}

/* Tutorial */

.back_to_mainpage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    margin: 2em;
}

.back_to_home_button {
    font-family: "Katibeh", serif;
    font-size: 6vh;
    padding: 3% 3% 1% 3%;
    width: 30%;
    border-radius: 30px;
    background-color: var(--light_yellow);
    border: 1px solid black;
}

/* Main Home Page  */

/* margins  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    background-color: white;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    position: relative;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hanging-pot {
    width: 63%; /*only works at this width??*/
}

.top-right-icons,
.bottom-right-icons,
.bottom-left-icons,
.middle-left-icons,
.top-left-healthbar {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    gap: 10px; 
}

.top-right-icons {
    align-items: flex-end; 
    top: 10px;
    right: 0px; 
}

.bottom-right-icons {
    align-items: flex-end; 
    bottom: 10px;
    right: 0px; 
}

.bottom-left-icons {
    align-items: flex-start; 
    bottom: 10px;
    left: 0px; 
}

/*left arrpow*/
.middle-left-icons {
    align-items: flex-start;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
}

.top-left-healthbar {
    align-items: flex-start; 
    top: 10px; 
    left: 10px; 
    position: absolute; 
}

.icon {
    width: 200px; /*used to change size of all icons*/
    height: auto;
}

.healthbar {
    width: 700px; /* needed specifically for healthbar, bigger htan others*/
    height: auto;
}

.arrowleft {
    width: 80px; /*needed for arrow, smaller than otehrs*/
    height: auto;
}

/*virtual garden*/
.vg_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    width: 100vw;
    z-index: 1000;
    margin-left: 7em;
}

.virtual_title {
    font-family: "Katibeh", serif;
    font-size: 3em;
    padding: 2% 0 0 0;
}

.virtual_background {
    position: absolute;
    left: 3%;
    z-index: -1000;
    top: -5%;
}

.back_button {
    transform: rotate(180deg);
    align-items: flex-start;
}

.right_button {
    width: 5em;
    margin-left: 1em;
    margin-bottom: 10em;
}