* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light_yellow: #F4F6C2;
    --light_green: #C0E8AC;
}

body.main{
    background-color: var(--light_green);
}

/*#landing_page {
    background-image: url(img/default_bush.svg);
    background-repeat: no-repeat;
}*/

.katibeh-regular {
    font-family: "Katibeh", serif;
    font-weight: 400;
    font-style: normal;
  }  

.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
    font-family: "Coiny", system-ui;
    font-size: 80px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 0 0;
}

.img_mascot {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin: 0 10% 10% 10%;
    background-image: url(default_bush.img);
}

.welcome_message {
    background-color: var(--light_yellow);
    margin: 5%;
    padding: 8%;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 1.8em;
}

.welcome_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    gap: 1%
}

.start {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start_button, .tutorial_button {
    font-family: "Katibeh", serif;
    font-size: 6vh;
    padding: 3% 3% 1% 3%;
    width: 100%;
    border-radius: 30px;
    background-color: var(--light_yellow);
    border: 1px solid black;
}

.start_button:hover,
.tutorial_button:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #C4F5A0;
}

/* Tutorial */

.back_to_mainpage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    margin: 2em;
}

.back_to_home_button {
    font-family: "Katibeh", serif;
    font-size: 6vh;
    padding: 3% 3% 1% 3%;
    width: 30%;
    border-radius: 30px;
    background-color: var(--light_yellow);
    border: 1px solid black;
}

/* Main Home Page  */

/* margins  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    background-color: white;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    position: relative;
}

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hanging_pot {
    width: 63%; /*only works at this width??*/
}

.top_right_icons,
.bottom_right_icons,
.bottom_left_icons,
.middle_left_icons,
.top_left_healthbar {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    gap: 10px; 
}

.top_right_icons {
    align-items: flex-end; 
    top: 10px;
    right: 0px; 
}

.bottom_right_icons {
    align-items: flex-end; 
    bottom: 10px;
    right: 0px; 
}

.bottom_left_icons {
    align-items: flex-start; 
    bottom: 10px;
    left: 0px; 
}

/*left arrow*/
.middle_left_icons {
    align-items: flex-start;
    top: 50%; 
    left: 30px; 
    transform: translateY(-50%); 
    z-index: 1000;
}

.top_left_healthbar {
    align-items: flex-start; 
    top: 10px; 
    left: 10px; 
    position: absolute; 
}

.icon {
    width: 200px; /*used to change size of all icons*/
    height: auto;
}

.healthbar {
    width: 700px; /* needed specifically for healthbar, bigger than others*/
    height: auto;
}

.arrowleft {
    width: 80px; /*needed for arrow, smaller than others*/
    height: auto;
}

/*virtual garden*/
.vg_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    width: 100vw;
    z-index: 1000;
    margin-left: 7em;
}

.virtual_title {
    font-family: "Katibeh", serif;
    font-size: 3em;
    padding: 1% 0 0 0;
}

.virtual_background {
    position: absolute;
    left: 3%;
    z-index: -1000;
    top: -5%;
}

.back_button {
    transform: rotate(180deg);
    align-items: flex-start;
}

.right_button {
    width: 5em;
    margin-left: 1em;
    margin-bottom: 3em;
}

.plant_one {
    z-index: 1000;
    position: fixed;
    bottom: 5vh;
    left: 22vw;
    width: 15vw;
    height: auto;
}

/* Popup Cards */

.modal {
    z-index: 10000;
    display: flex;
    display: none;
    position: fixed;
    background-color: var(--light_green);
    border-radius: 20px;
}

.modal, .plant_name{
    padding: 3% 4%;
    border: black solid 1px;
    font-family: "Katibeh", serif;
}

.greencard, .yellowcard {
    display: flex;
    flex-direction: column;
}

.plant_title, .plant_name, .display_img {
    display: flex;
    justify-content: center;
}

.yellowcard {
    background-color: var(--light_yellow);
    padding: 3em 0.5em;
    border-radius: 20px;
    border: black solid 1px;
    margin-bottom: 5px;;
}

.display_img {
    width: 15em;
}

.plant_name {
    font-size: 0.8em;
    background-color: var(--light_yellow);
    border-radius: 10px;
}

.plant_title {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.plant_one {
    cursor: pointer; 
}

.close {
    cursor: pointer; 
    font-size: 2em;
    order: 2;
}

#plantOne {
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 999;
  }

  /* Flipped Flashcard*/