* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light_yellow: #f4f6c2;
  --light_green: #c0e8ac;
}

body.main {
  background-color: var(--light_green);
}

.katibeh-regular {
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
}

.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: "Coiny", system-ui;
  font-size: 80px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 0 0;
}

.img_mascot {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin: 0 10% 10% 10%;
}

.welcome_message {
  background-color: var(--light_yellow);
  margin: 5%;
  padding: 8%;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 1.8em;
}

.welcome_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
  gap: 1%;
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start_button,
.tutorial_button {
  font-family: "Katibeh", serif;
  font-size: 6vh;
  padding: 3% 3% 1% 3%;
  width: 100%;
  border-radius: 30px;
  background-color: var(--light_yellow);
  border: 1px solid black;
}

.start_button:hover,
.tutorial_button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #c4f5a0;
}

/*TUTORIAL*/

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.walkthrough-video {
  margin-top: 6%;
  max-width: 75vw;
  width: 75vw;
  height: 75vh;
}

.back_to_mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 2em;
}

.back_to_home_button {
  font-family: "Katibeh", serif;
  font-size: 4.5vh;
  padding: 1% 2% 0.5% 2%;
  border-radius: 30px;
  background-color: var(--light_yellow);
  border: 1px solid black;
  width: 75vw;
}

.back_to_home_button:hover {
  background-color: #f7e3c3;
  cursor: pointer;
}

/* NAV BAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #f4f6c2;
  border-right: #000 solid 1px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .link_to_pages {
  padding: 8px 8px 8px 32px;
  font-family: "Katibeh", serif;
  text-decoration: none;
  text-align: justify;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  margin: 2%;
}

.sidenav .link_to_pages:hover {
  background-color: #c0e8ac;
  border: solid 1px #000;
  border-radius: 20px;
  font-size: 28px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  text-decoration: none;
  color: #000;
}

.navbtn {
  position: relative;
  bottom: 10em;
  font-size: 35px;
  cursor: pointer;
  left: 1em;
}

.navbtn_mainpage {
  position: relative;
  bottom: 11.3em;
  font-size: 40px;
  cursor: pointer;
  left: 1.5em;
  z-index: 1;
}

.navbtn_main {
  position: relative;
  bottom: 10.5em;
  font-size: 40px;
  cursor: pointer;
  left: 1em;
}

.navbtn_quiz {
  position: relative;
  bottom: 11.3em;
  font-size: 45px;
  cursor: pointer;
  bottom: 10em;
  left: -9.3em;
}
.navbtn_tut {
  position: relative;
  bottom: 10.5em;
  font-size: 40px;
  cursor: pointer;
  left: 4em;
}

#nav_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* MAINPAGE */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}

/* Target only mainpage with gif */
body.mainpage {
  background-image: url("img/rain.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Main Container */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.floor_pot,
.plant {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 60em;
}

.floor_pot {
  z-index: 2;
}

.plant {
  z-index: 1;
}

.floor_pot img,
.plant img {
  width: 100%;
  height: auto;
  display: block;
}

.top_right_icons,
.bottom_right_icons,
.bottom_left_icons,
.top_left_healthbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
}

.top_right_icons {
  align-items: flex-end;
  top: 10px;
  right: 0px;
  cursor: pointer;
  z-index: 1000;
}

.bottom_right_icons {
  align-items: flex-end;
  bottom: 10px;
  right: 0px;
}

.seed_icon {
  width: 15em;
  height: auto;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.seed_icon:hover {
  transform: scale(1.3);
}

.book_icon {
  width: 15em;
  height: auto;
  transition: 0.3s ease;
  transform-origin: center center;
}

.book_icon:hover {
  transform: scale(1.2);
}

.bottom_left_icons {
  align-items: flex-start;
  bottom: 10px;
  left: 0px;
}

.top_left_healthbar {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 25vw;
  max-width: 400px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 200px; 
  height: auto;
  user-select: none;
}

.healthbar {
  width: 700px;
  height: auto;
}

.arrowleft {
    width: 80px; 
    height: auto;
}

.icon-container {
    position: relative;
}

.icon-message {
    position: absolute;
    background-color: #C0E8AC;
    border: #000 0.5px solid;
    padding: 0.5em 1em;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    white-space: nowrap;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    font-size: 1.5em;
}

.icon-message-top {
    position: absolute;
    background-color: #C0E8AC;
    border: #000 0.5px solid;
    padding: 0.5em 1em;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    white-space: nowrap;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    font-size: 1.2em;
}

.icon-message-right {
    position: absolute;
    background-color: #C0E8AC;
    border: #000 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    left: 90%;
    transform: translateY(-350%);
    margin-left: 10px;
    white-space: normal;
    min-width: 15em;
    word-wrap: break-word;
}

.icon-container:hover .icon-message, .icon-container:hover .icon-message-top,  
.icon-container:hover .icon-message-right {
    opacity: 1;
}

/*FLIP CARD*/
.info_card {
  width: 100%;
  min-height: 100vh;
}

.card {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-color: #c0e8ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: black;
  font-size: 32px;
  margin-bottom: 3px;
}

.card__face--back {
  background-color: #c0e8ac;
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__body {
  padding: 30px;
  background-color: #f4f6c2;
  border-radius: 2em;
  border: black solid 1px;
  position: relative;
  top: 3em;
  left: 2em;
  height: 20em;
  max-width: 18em;
  max-height: 25em; 
}

.yellowcard {
  background-color: #f4f6c2;
  padding: 8%;
  border-radius: 2em;
  border: black solid 1px;
}

.card_instructions {
  font-family: "Katibeh", serif;
}

.plant_name {
  font-family: "Katibeh", serif;
  background-color: #f4f6c2;
  border-radius: 1em;
  border: black solid 1px;
  padding: 5%;
  margin-top: 0.2em;
  width: 9.6em;
}

#info_card {
  z-index: 10000;
  display: none;
}

/* Back of the card */
.plant_information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.charecteristics_attribute {
  font-family: "Katibeh", serif;
  font-size: 1em;
  background-color: #c0e8ac;
  border-radius: 1em;
  border: black solid 1px;
  padding: 2%;
  margin-top: 0.3em;
  width: 7.5em;
  text-align: center;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 1em;
  max-width: 20em;
}

.charecteristics_instance {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.instance {
  width: 20em;
}

.plant_name_back {
  font-family: "Katibeh", serif;
  background-color: #f4f6c2;
  border-radius: 1em;
  border: black solid 1px;
  padding: 5%;
  margin-top: 2.2em;
  margin-left: 1.4em;
  width: 12em;
}

.close_btn_back {
  position: relative;
  top: 1em;
  margin-left: 5.5em;
  font-size: 2em;
}

.close_btn {
  position: relative;
  font-size: 2em;
}

.vg_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  margin-left: 1em;
}

.virtual_title {
  font-family: "Katibeh", serif;
  font-size: 3em;
  padding: 1% 0 0 0;
}

.virtual_background {
  position: absolute;
  left: 3%;
  z-index: -1000;
  top: -5%;
}

.back_button {
  transform: rotate(180deg);
  align-items: flex-start;
}

.right_button {
  width: 5em;
  margin-left: 1em;
  margin-bottom: 3em;
}

.plant_one {
  z-index: 1000;
  position: fixed;
  bottom: 5vh;
  left: 22vw;
  width: 15vw;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#virtual_garden {
  position: relative;
  width: 100%;
  height: 100%;
}

#info_card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  background-color: #c0e8ac;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

#overlay {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999; 
}

.link_to_quiz {
  font-family: "Katibeh", serif;
  background-color: #feffe5;
  font-size: 1.2em;
  border-radius: 1em;
  border: black solid 1px;
  margin-top: 0.5em;
  padding: 1.5%;
  width: 12em;
  text-align: center;
}

.link_to_quiz:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #c0e8ac;
}

.links {
  text-decoration: none;
  color: #000;
}

.display_img:hover {
  cursor: pointer;
}

/*QUIZ*/
#quiz_body {
  background-color: #f7f8dd;
}

.quiz-container {
  background-color: #c0e8ac;
  border-radius: 20px;
  width: 1000px;
  height: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px black solid;
}

.quiz {
  background-color: #f4f6c2;
  margin: 2% 3%;
  padding: 5% 8%;
  border-radius: 20px;
  border: 1px black solid;
}

.quiz-title {
  font-family: "Katibeh", serif;
  font-size: 6vh;
  color: #000;
  margin: 20px 0;
}

.question-box {
  background-color: #f4f6c2;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.question {
  display: none;
  font-size: 1.7em;
  color: #333;
  font-weight: bold;
}

.options {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  height: 200px;
  justify-content: space-between;
}

.option {
  background-color: #f7d8a8;
  border: none;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  transition: 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px black solid;
}

.feedback {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.start-quiz {
  background-color: #f7d8a8;
  border-radius: 10px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  border: 1px black solid;
  font-style: "Arial";
}

/* TRY AGAIN BUTTON for Quiz */
.try-again {
  background-color: #f7d8a8;
  border-radius: 10px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  border: 1px black solid;
  font-style: "Arial";
}

.correct {
  background-color: #c4f5a0;
  color: black;
}

.incorrect {
  background-color: #e48c80cc;
  color: black;
}

.result-title {
  font-size: 2em; /* Large font size for the title */
  color: #2c3e50; /* Darker color for the title */
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Add space below the title */
}

.result-score {
  font-size: 1.5em;
  color: #16a085; 
  text-align: center;
  margin-top: 10px;
  font-weight: bold; 
}

.mascot_quiz {
  position: relative;
  bottom: 20em;
  right: 26em;
  width: 16em;
}

.back-button {
  position: absolute;
  top: 45vh;
  left: 1vh;
  width: 100px;
  z-index: 1;
}

.back-icon {
  width: 85px;
}

#quiz-choose {
  display: none;
  font-size: 3vw;
}

/*PLANT CONDITIONS*/
.top_left_healthbar {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 25vw;
  max-width: 400px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#plant-condition-heading,
#weather-box-heading {
  font-family: "Katibeh", cursive;
  font-size: 3vw;
  margin: 0.5em 0 0 0;
  text-align: center;
  white-space: nowrap;
}

#plant-condition,
#weather-box {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2%;
  box-sizing: border-box;
  margin-bottom: 1vh;
}

#plant-condition {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.sunlight img,
.water img {
  width: auto;
  height: 80%;
  max-height: 61px;
}

#weather-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-container {
  min-width: 23vw;
}

#temperature-weather-box {
  font-family: "Katibeh";
  font-size: 3vw;
  flex: 1;
  text-align: center;
}

#weather-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.info-row-weather {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info-row-weather img {
  width: auto;
  height: 35%;
  max-height: 49px;
  margin-left: 5%;
}

.info-row-weather span {
  font-size: 2vw;
  white-space: nowrap;
}

/* RESPONSIVENESS */
@media (max-width: 1200px) {
  .top_left_healthbar {
    width: 30vw;
  }

  #plant-condition-heading,
  #weather-box-heading {
    font-size: 4vw;
  }

  #temperature-weather-box {
    font-size: 4vw;
  }

  .info-row-weather span {
    font-size: 2.5vw;
  }

  .widget-container {
    min-width: 30vw;
  }
}

@media (max-width: 800px) {
  .book_icon {
    width: 30vw;
  }

  .bottom_right_icons a {
    width: 32vw;
  }
}

@media (max-width: 1000px) {
  .sunlight img,
  .water img {
    width: auto;
    height: 80%;
    max-height: 45px;
  }
}

@media (max-width: 768px) {
  .top_left_healthbar {
    width: 40vw;
  }

  #plant-condition-heading,
  #weather-box-heading {
    font-size: 5vw;
  }

  #temperature-weather-box {
    font-size: 5vw;
  }

  .info-row-weather span {
    font-size: 3vw;
  }

  .widget-container {
    min-width: 39vw;
  }
}

@media (max-width: 480px) {
  .widget-container {
    min-width: 58vw;
  }

  .icon {
    width: 30vw;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #c0e8ac;
  border-radius: 20px;
  width: 40%;
  height: 40%;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  font-size: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px black solid;
}

.modal-title {
  font-family: "Katibeh", serif;
  font-size: 3vw;
  color: #000;
  margin: 20px 0;
}

.modal-txt {
  font-family: "Katibeh", serif;
  font-size: 2vw;
  color: #000;
  margin: 20px 0;
}

.modal-btn {
  background-color: #f7d8a8;
  border-radius: 10px;
  font-weight: 300;
  color: #333;
  cursor: pointer;
  padding: 25px 35px;
  font-size: 1.6vw;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  border: 1px black solid;
  font-family: "Katibeh", serif;  
  transition: 0.3s;
}

.modal-btn:hover {
  opacity: 0.6;
}

.close-btn-modal {
  float: right;
  font-size: 300%;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn-modal:hover {
    opacity: 0.5;
}
